.book {
  .book-body {
    position: absolute;
    top: 0;
    left: 0px;
    overflow-y: auto;
    bottom: 0;
    right: 0;

    .page-inner {
      transition: 0.3s ease left;
      max-width: 800px;
      margin: 0 auto;
      padding: 20px 0 40px;
    }
  }

  .book-header {
    padding: 10px 8px;
    font-size: .85em;
    box-sizing: border-box;
    text-align: center;

    a {
      color: #ccc;
      text-decoration: none;
      text-transform: uppercase;
      margin: 0 15px;

      &:hover {
        color: #444;
      }
    }

    h1 {
      @extend .header-inner;
    }
  }
}

.header-inner {
  display: inline-block;
  li {
    @extend .header-inner;
  }
}

.main-nav {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  transition: width 0.3s ease;

  li {
    margin-bottom: 15px;
  }

  a {
    display: block;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    padding: 15px;

    &:hover, &:focus {
      background: linear-gradient(#484848, #383838);
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.sidebar-visible {
  #main-nav {
    width: 300px;
  }

  .book-body {
    left: 300px;
  }
}
