.book {
  .book-body {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    bottom: 0;
    right: 0;

    .book-body-inner {
      @extend .book-body;
    }

    .page-wrapper {
        position: relative;
        outline: 0;

        .page-inner {
          position: relative;
          left: 0px;
          transition: 300ms ease left;
          max-width: 800px;
          margin: 0 auto;
          padding: 20px 0 40px;
      }
    }
  }

  .book-header {
      overflow: visible;
      height: 50px;
      padding: 10px 8px;
      z-index: 2;
      font-size: .85em;
      box-sizing: border-box;

      a {
        color: #ccc;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 15px;

        &:hover {
          color: #444;
        }
      }
  }
}

li {
  margin-bottom: 15px;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  transition: width 0.3s ease;
  a {
    display: block;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
    color: white;
    padding: 15px;
    &:hover, &:focus {
      background: linear-gradient(#484848, #383838);
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
  }
}

#main-nav:target {
  width: 20%;
}
#main-nav:target + .book {
  width: 80%;
  .open-menu {
     display: none;
  }
}
