/* Breakpoints
_____________________________________________ */
$break-xl: 1280px;
$break-lg: 1024px;
$break-lm: 980px;
$break-md: 768px;
$break-sm: 480px;
$break-ms: 360px;
$break-xs: 320px;

 @mixin breakpoint($point) {
   @if $point == xl {
     @media only screen and (min-width: $break-lg + 1) and  (max-width: $break-xl) { @content ; }
  }
   @else if $point == lg {
      @media  only screen and (min-width: $break-lm) and (max-width: $break-lg) { @content ; }
  }

  @else if $point == lm {
   @media (max-width: $break-lm) { @content ; }
}
    @else if $point == md {
     @media (max-width: $break-md) { @content ; }
  }
   @else if $point == sm {
      @media (max-width: $break-sm) { @content ; }
  }
  @else if $point == ms {
     @media (max-width: $break-ms) { @content ; }
 }
  @else if $point == xs {
     @media (max-width: $break-xs) { @content ; }

  }
}
